* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	font-size: 16px;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

/* ----- ----- HEADER ----- ----- */




header {
	/*max-width:100%;
	max-height:100%;
	background: url('../img/logo.png');
	background-size:cover;
	background-position: center ;
	background-repeat: no-repeat;*/


    max-width: 100%;
    max-height: 100%;
    background: url(../img/logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

header .contenedor {
	position: relative;
	height: 700px;
}

header .menu {
	width: 101%;
	text-align: right;
}

header .menu a {
	color: #fff;
	font-family: 'Varela Round', sans-serif;
	font-size: 24px;
	font-weight: 300;
	display: inline-block;
	margin: 40px 13px;
	text-decoration: none;
	position: relative;

}

header .menu a:hover {
	/*text-decoration: underline;*/
	border-bottom: 2px solid #fff;
	
}

header .textos {
	width: 100%;
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top:-52px;
}

header .textos .nombre {
	font-size: 50px;
	font-weight: 600;
}

header .textos .nombre span {
	font-weight: 300;
}

header .textos h3 {
	font-weight: 300;
	font-size: 25px;
	font-style: italic;
}

 /*----- ----- MAIN ----- ----- */

.main {
	  background: url('../img/bgtextura.png');
      background-repeat: repeat;
}

.main .contenedor {
	overflow: visible;
}

 .main .historia {
	text-align: center;
}

.main .historia .texto {
	color: #fff;
	font-weight: 600;
	font-size: 1.1em;
	line-height: 30px;
	width: 80%;
	margin: 0 auto 60px auto;
}

.main .historia .texto .titulo {
	font-size: 34px;
	line-height: 34px;
	margin-bottom: 40px;
	font-family: 'Varela Round', sans-serif;
	padding: 40px;
	color:#fff;
	text-align: center;
} 

.main .historia .texto .enlace-menu  {
	text-decoration: none;
	color: #fff;
	font-size: 24px;
}

.main .historia .texto a:hover {
	color:#c4161c;
}

.main .galeria {
	overflow: hidden;
}

.main .galeria .foto {
	width: 25%;
	float: left;
}

.main .galeria .foto img {
	width: 100%;
	vertical-align: top;
	
}

/*.main .galeria .foto img:hover {
	opacity: 1;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}*/

.main .ubicacion {
	background: #c4161c;
	padding: 60px 0;
	overflow: hidden;
}

.main .ubicacion .titulo {
	text-align: center;
	font-size: 40px;
	line-height: 40px;
	font-weight: 300px;
	margin-bottom: 40px;
	color: #fff;
}

.main .ubicacion .direccion {
	float: left;
	width: 50%;
	text-align: left;
	font-size: 18px;
	color: #a3a3a3;
}

.main .ubicacion .direccion2 {
	float: right;
	width: 50%;
	font-size: 18px;
	text-align: right;
	overflow: hidden;
	color: #a3a3a3;
}

.main .ubicacion p {
	color: #fff;
}

.main .ubicacion .direcion .calle {
	margin-bottom: 15px;
}

.main .ubicacion  .direccion .direccion2 h3 {
	text-align: center;
	margin-bottom: 20px;
}

.main .ubicacion .direccion2 .entre-semana {
	width: 100%;
	float: left;
	text-align: center;
}

.main .mapa {
	width: 100%;
	overflow: hidden;
}

.main .mapa iframe {
	width: 100%;
	max-height: 600px;
}

 /*----- ----- FOOTER ----- ----- */

footer {
	background: #c4161c;

}


footer .siguenos {
	text-align: center;
	color: #fff;
	padding: 10px 0;
	margin: 10px;

}

footer .redes-sociales {
	padding: 20px 0;
}

footer .redes-sociales .contenedor {
	display: flex;
	justify-content:center;
}

footer .redes-sociales a {
	color: #fff;
	text-align: center;
	width: 100px;
	display: block;
	padding: 10px 0;
	border-radius: 3px;
	font-size: 30px;
	margin: 0 5px;
}



footer .redes-sociales .twitter:hover {	background: #1da1f2; }
footer .redes-sociales .facebook:hover { background: #3b5998; }
footer .redes-sociales .instagram:hover { background: #405de6; }

footer .copyright {
	text-align: center;
	padding: 15px 0;
	color: #fff;
}

.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #c4161c;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #ccc;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #a3a3a3;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#a3a3a3;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#a3a3a3;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}